/* DOCUMENTO CSS */
body {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Calibri', sans-serif;
	background-color: #309293;
	color: #000;
}
header { background-color: #309293;
	height: 180px;
	padding-top: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
header figure {
	width: 100px;
	height: 100px;
	background-color: #696969;
	margin: 0;
	padding: 0;
}
main {
	min-height: 900px;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	padding: 20px;
	flex-wrap: wrap;
	background-color: #02735E;
}
.boxlivro{width: 460px;
	height: 430px;
	background-color: #034159;
	border-color: 10px;
	padding: 10px;
	margin: 10px 10px 10px 10px;
	display: flex;
}
.boxlivro:hover{
	box-shadow: 6px 6px 10px #000000;
}
.boxlivro h2{margin: 0 0 10px 0;
	padding: 0;
	color: #fff;
}
.boxlivro p{
	color: #fff;
}
.boxlivro figure {width: 225px;
	height: 318px;
	background-color: #0000;
	margin: 0 20px 0 0;
	padding: 0;
	border: 1px solid black;
}
.boxlivro span {
	font-size: 30px;
	font-weight: 900;
	margin: 0 0 0 40px;
	padding: 0;
}
footer {
	background-color: #309293;
	height: 70px;
	padding-top: 10px;
	text-align: center;
	display: flex;
	justify-content: left;
}
footer figure {
	width: 50px;
	height: 50px;
	background-color: #309293;
	margin: 0 30px 0 50px;
	padding: 0;
}
footer p {
	font-weight: 800;
	font-size: 20px;
	margin: 10px 0 0 0;
}
button { height: 25px;
	width: 235x;
}